* {
  box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
h3,
blockquote,
cite,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

blockquote,
cite {
  font-style: normal;
}

a {
  font-style: normal;
  text-decoration: none;
}
