.rodape {
  background-color: $cor-menu-e-rodape;
  padding: 30px 60px 30px 60px;

  p {
    font-family: $fonte-principal;
    color: $cor-texto-menu-e-rodape;
    font-size: $subtitulo;
  }

  @include d(s) {
    padding-right: 20px;
    padding-left: 20px;
  }
}
