.slide {
  background-color: $cor-texto;
  padding: 60px 0;
}

.js .slide-grid {
  overflow: hidden; // esconde tudo que estoura o container
}

@mixin scrollbar() {
  // tamanho da scrollbar
  &::-webkit-scrollbar {
    height: 18px;
    width: 18px;
  }

  &::-webkit-scrollbar-thumb {
    /* rolagem usada na scroolbar */
    background-color: $cor-texto-menu-e-rodape;
    border-left: 4px solid $cor-texto;
    border-right: 4px solid $cor-texto;
  }

  &::-webkit-scrollbar-track {
    /* cor de fundo da scroolbar */
    background-color: $cor-texto;
  }
}

.slide-grid {
  overflow-y: hidden;
  overflow-x: scroll;

  @include scrollbar;
}

.slide-imagens {
  display: flex;
  cursor: grab;
}

.slide-imagens li {
  flex: 1 0 400px;
  padding: 0 20px;
  max-height: 220px;

  // transform: scale(0.8);
  // transform: translate3d(-990px, 0, 0);

  @include d(s) {
    max-width: 280px;
    max-height: 150px;
  }
}

.js .slide-imagens li {
  opacity: 0.4;
}

.slide-imagens li img {
  // criando uma sombra borrada para diferenciar um pouco a imagem,
  // não é possível aplicar uma sombra melhor
  // porquê as imagens utilizadas, estão sendo
  // forçadas a ficar do mesmo tamanho no css
  box-shadow: 0 0 6px 0 $cor-texto-menu-e-rodape;
}

.slide-imagens li.ativo {
  // transform: scale(1);
  opacity: 1;
}

.slide-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.anterior,
.proximo {
  margin-right: 10px;
  display: block;
  padding: 10px;
  border: solid 3px $cor-fundo;
  border-radius: 4px;
  background-color: $cor-texto;
  color: $cor-texto-menu-e-rodape;
  font-size: $subtitulo;
  font-style: bold;
  font-family: $fonte-principal;
  cursor: pointer;

  // quando estiver desabilitado
  // não será clicável e a color será a de fundo
  &:disabled {
    color: $cor-fundo;
    cursor: not-allowed;
  }
}
