.slide-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.slide-nav li a {
  display: block;
  margin: 10px;
  text-indent: -1999px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: $cor-fundo;

  &:hover {
    background-color: $cor-texto-menu-e-rodape;
  }
}

.slide-nav li.ativo a {
  background-color: $cor-texto-menu-e-rodape;
}
