.tooltip {
  display: block;
  max-width: 200px;
  color: $cor-texto;
  background-color: $cor-fundo;
  font-family: $fonte-secundaria;
  font-size: $texto;
  padding: 10px;
  position: absolute;
  z-index: 100;
  opacity: 0.9;
  border: 4px solid $cor-fundo;
  border-radius: 4px;

  @include d(s) {
    display: none;
  }
}
